{{#if username }}
<form action="api/users/logout" method="post">
<input type="submit" value="Cerrar sesion" />
</form>
<h2>Bienvenido {{ username }}</h2>
{{/if}}

<h1>Lista de Productos</h1>
<ul id="productList"></ul>
<script src="/socket.io/socket.io.js"></script>
<script>
  const socket = io();

  // Escuchar el evento 'productList' y actualizar la lista de productos
  socket.on('productList', products => {
    const productList = document.getElementById('productList');
    productList.innerHTML = '';

    products.docs.forEach(product => {
      const listItem = document.createElement('li');
      listItem.textContent = `${product._id} - ${product.title} - ₪ ${product.price}`;
      productList.appendChild(listItem);
    });
  });
</script>